<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--服务运行方式: 1,服务 2,进程 3,cmd-->
      <add key="runModel" value="3"/>
      <!--完整路径-->
      <add key="fullName" value="E:\SmartShelf\Code\HH.SBS\HaiHeng.SmartBookShelf.Host\bin\Debug\HaiHeng.SmartBookShelf.Host.exe"/>
      <!--要守护的服务的服务名称-->
      <add key="toWatchServiceName" value="HaiHeng.SmartBookShelf.Host"/>
      <!--守护服务的名称-->
      <add key="serviceName" value="海恒智能.智能书架后台服务"/>
      <!--每1分钟检查一次 以秒为单位-->
      <add key="timerInterval" value="30"/>
      <!--检查连接-->
      <add key="checkurl" value="http://localhost:9001/api/services/openapi/workingTeam/GetAllWorkingTeam"/>
    </appSettings> 
</configuration>