<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--要守护的服务的服务名称-->
      <add key="toWatchServiceName" value="Ssit.SmartBookShelf"/>
      <!--守护服务的名称-->
      <add key="serviceName" value="海恒智能.智能书架后台服务"/>
      <!--每1分钟检查一次 以秒为单位-->
      <add key="timerInterval" value="60"/>
    </appSettings> 
</configuration>